:root {
    /*Cores Primárias*/
    --vermelho-suave: hsl(7, 99%, 70%);
    --amarelo: hsl(51, 100%, 49%);
    --preto-ciano: hsl(167, 40%, 24%);
    --preto-azulado: hsl(198, 62%, 26%);
    --preto-ciano-moderado:hsl(168, 34%, 41%);

    /*Cores neutras*/
    --preto-escuro-azulado:hsl(212, 27%, 19%);
    --preto-escuro-acizentado:hsl(213, 9%, 39%);
    --preto-acizentado-azulado:hsl(232, 10%, 55%);
    --cinza-azulado:hsl(210, 4%, 67%);
    --branco:hsl(0, 0%, 100%);


}

#container-grid {
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo-principal"
    "conteudo-texto"
    "conteudo-imagem"
    "rodape";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40vh 50vh 20vh 20vh;


}

/*cabeçalho*/
body {
    width: 90vw;

}

#cabecalho {
    grid-area: cabecalho;
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 1/1;
    grid-column: 1/5;
    width: 100vw;
   
}

#cabecalho-navegacao{
    width: 90vw;
 
}

#cabecalho-navegacao-lista{
    display: flex;
    justify-content: flex-end;
}


.lista-navegacao {
    margin-right: 2rem;
}


#conteudo-texto {
    grid-area: conteudo-texto;

}

#conteudo-imagem {
    grid-area: conteudo-texto;

}

#rodape {
    grid-area: rodape;

}

#cabecalho-navegacao {
   

}

#cabecalho-navegacao-lista {
display: flex;
}


/*Conteúdo princiapl*/

#conteudo-principal {
grid-area: conteudo-principal;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%;

}


