:root {
    /*Cores Primárias*/
    --vermelho-suave: hsl(7, 99%, 70%);
    --amarelo: hsl(51, 100%, 49%);
    --preto-ciano: hsl(167, 40%, 24%);
    --preto-azulado: hsl(198, 62%, 26%);
    --preto-ciano-moderado:hsl(168, 34%, 41%);

    /*Cores neutras*/
    --preto-escuro-azulado:hsl(212, 27%, 19%);
    --preto-escuro-acizentado:hsl(213, 9%, 39%);
    --preto-acizentado-azulado:hsl(232, 10%, 55%);
    --cinza-azulado:hsl(210, 4%, 67%);
    --branco:hsl(0, 0%, 100%);


}




